# database protocol.py
DB__HOST=postgres
DB__PORT=5432
DB__NAME=postgres
DB__USER=postgres
DB__PASS=postgres
DB__DB_POOL_SIZE=5
DB__DB_MAX_OVERFLOW=10
DB__DB_URL=postgres
DB__DB_PORT=5432


#src protocol.py
BACKEND_SERVER__PORT=8080
BACKEND_SERVER__HOST=0.0.0.0
BACKEND_SERVER__WORKERS=1
BACKEND_SERVER__HOST_PORT=8080
BACKEND_SERVER__SERVER_PORT=8080
BACKEND_SERVER__SECRET_KEY=32198
BACKEND_SERVER__SAVE_PATH=research_data
BACKEND_SERVER__METHODS=["GET", "POST", "OPTIONS", "DELETE", "PATCH", "PUT"]
BACKEND_SERVER__HEADERS=["*"]
BACKEND_SERVER__ALGORITHM="HS256"
BACKEND_SERVER__SERVER_HOST="localhost"
BACKEND_SERVER__REFRESH_TOKEN_EXPIRE_DAYS=30
BACKEND_SERVER__ACCESS_TOKEN_EXPIRE_MINUTES=60

#redis
REDIS_ENDPOINT=redis://redis:6379
REDIS__PORT = 6379

#api protocol.py
APP_PREFIX=/api


#front
FRONT__PORT = 3000